<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/nav :: nav"/>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div>
        <div class="mb-3">
            <h1>Move Search</h1>
            <h6>Input the name of a move to search for that move specifically.</h6>
            <h6>Input any other number of fields to search for moves that fit all of them.</h6>
            <span th:if="${error != null}" th:text="${error}" color="red"/>
        </div>
        <form action="#" th:action="@{/move_search}" th:object="${move}" method="post"
              class="m-3 p-3 border border-dark">
            <p>Full Name: <input type="text" th:field="*{name}" placeholder="Ember"/></p>
            <p>
                <select name="type">
                    <option th:each="typeOpt : ${T(org.allenfulmer.ptuviewer.models.Type).values()}"
                            th:value="${typeOpt}" th:text="${typeOpt.displayName}"></option>
                </select>
                <select name="frequency">
                    <option th:each="frequencyOpt : ${T(org.allenfulmer.ptuviewer.models.Frequency).values()}"
                            th:value="${frequencyOpt}" th:text="${frequencyOpt.displayName}"></option>
                </select>
                <select name="moveClass">
                    <option th:each="moveClassOpt : ${T(org.allenfulmer.ptuviewer.models.Move.MoveClass).values()}"
                            th:value="${moveClassOpt}" th:text="${moveClassOpt.displayName}"></option>
                </select>
            </p>
            <p>
                AC: <input class="form-short" type="text" th:field="*{ac}" placeholder="2" size="6"/>
                DB: <input class="form-short" type="text" th:field="*{db}" placeholder="4" size="6"/>
            </p>
            <p>Range: <input type="text" th:field="*{range}" placeholder="4, 1 Target" size="35"/></p>
            <p>Effect: <input type="text" th:field="*{effect}" placeholder="Burns on 18+" size="36"/></p>
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </form>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>