<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/head :: head"/>
<body>
<!-- Responsive navbar-->
<div th:replace="fragments/nav :: nav"/>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div>
        <div class="mb-3">
            <h1>Move Search</h1>
            <h6>Input the name of a Move to search for that Move specifically.</h6>
            <h6>Input any other number of fields to search for Moves that fit all of them.</h6>
            <span color="text-danger" th:if="${error != null}" th:text="${error}"/>
        </div>
        <form action="#" class="m-3 p-3 border border-dark" method="post" th:action="@{/move_search}"
              th:object="${moveDTO}">
            <p>Full Name: <input placeholder="Ember" th:field="*{name}" type="text"/></p>
            <p>
                <select name="type">
                    <option th:each="typeOpt : ${T(org.allenfulmer.ptuviewer.models.Type).values()}"
                            th:text="${typeOpt.displayName}" th:value="${typeOpt}"></option>
                </select>
                <select name="frequency">
                    <option th:each="frequencyOpt : ${T(org.allenfulmer.ptuviewer.models.Frequency).values()}"
                            th:text="${frequencyOpt.displayName}" th:value="${frequencyOpt}"></option>
                </select>
                <select name="moveClass">
                    <option th:each="moveClassOpt : ${T(org.allenfulmer.ptuviewer.models.Move.MoveClass).values()}"
                            th:text="${moveClassOpt.displayName}" th:value="${moveClassOpt}"></option>
                </select>
            </p>
            <p>
                AC: <input class="form-short" placeholder="2" size="6" th:field="*{ac}" type="text"/>
                DB: <input class="form-short" placeholder="4" size="6" th:field="*{db}" type="text"/>
            </p>
            <p>Range: <input placeholder="4, 1 Target" size="35" th:field="*{range}" type="text"/></p>
            <p>Effect: <input placeholder="Burns on 18+" size="36" th:field="*{effect}" type="text"/></p>
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </form>
    </div>
</div>
<!-- Footer-->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>